<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.smbms.dao.provider.ProviderMapper">

	<!-- 根据角色id获取用户列表 -->
	<select id="getProviderList_choose" resultType="Provider">
		select * from smbms_provider where 1=1
			<choose>
				<when test="proCode != null and proCode != ''">
					and proCode like CONCAT('%',#{proCode},'%')
				</when>
				<when test="proName != null and proName != ''">
					and proName like CONCAT('%',#{proName},'%')
				</when>
				<when test="proContact != null and proContact != ''">
					and proContact like CONCAT('%',#{proContact},'%')
				</when>
				<otherwise>
					and Year(creationDate) = Year(#{creationDate})
				</otherwise>
			</choose>
	</select>
</mapper>