<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="colorInk" class="cn.ink.ColorInk" />
	<bean id="greyInk" class="cn.ink.GreyInk" />
	<bean id="a4Paper" class="cn.paper.TextPaper">
		<property name="charPerLine" value="10" />
		<property name="linePerPage" value="8" />
	</bean>
	<bean id="b5Paper" class="cn.paper.TextPaper">
		<property name="charPerLine" value="6" />
		<property name="linePerPage" value="5" />
	</bean>
	<bean id="printer" class="cn.printer.Printer">
		<property name="ink" ref="colorInk" />
		<property name="paper" ref="b5Paper" />
	</bean>
	
</beans>